.container-heading {
    /* display: flex; */
    padding-bottom: 50px;
    text-align: center;
    height: 0;
    margin-top: 0;
    padding-top: 150px;
    font-size: larger;
    color: #102b7b;
    /* align-items: center; */
}

.event-container {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
    /* margin-left: 200px;  */
    /* margin-right: 200px; */

}


.card-action {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.card-button {
    height: 30px;
    border: none;
    width: 30px;
}
.card {
    justify-content: center;
    margin-top: 10px;
    width: 20%;
    height: 200px;
    border: 1px solid rgb(255 255 255);
    box-shadow: 0px 0px 10px 9px rgb(207 222 243);
    height: fit-content;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #ffffff;

}

.card-body {
height: 320px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    position: relative;
}
.card-img {

    display: flex;
    float: center;
    overflow: hidden;
    /* position: relative; */

}
.card-info {
    display: flex;
    /* margin-left: 10px; */
    text-decoration: none;
    margin: 0px 20px; 
}
.card-text {
    /* margin: 0; */
    text-align: center;
    /* margin-bottom: 10px; */
    letter-spacing: 1.1px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    color: #102b7b;
}

a {
    text-decoration: none;
    font-weight: 500px;
    color:#102b7b;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 14px 0 #005;
}

.card-list {
    margin-bottom: 10px;

}
.card-ulist {
    margin: 0;
    padding: 0;
    list-style: none;
}