*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Banner Css */
.Banner{
    display: flex;
    justify-content: center;
align-items: center;
z-index: -1;
background-color: rgb(255, 255, 255);
}
.Banner-img{
    background-image: url("../Images/1.png");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.Banner-Overlay{
    height: 600px;
    margin: 0px;
    background-color: rgba(22, 92, 197, 0.204);

}
.Banner-content{
    display: flex;
    height: 100%;
    color: white;
    padding: 150px 0px 0px 50px ;
    font-size: 30px;
}
.Boxarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* bottom: 0px; */
    /* right: 105px; */
    margin: -110px 110px ;
/* z-index: 999 ; */
/* width: 85%; */
}

.Content_Boxarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#102b7b;
    color: white;
    box-shadow: 0 0 8px 30px #ffffff96;
    width: 50%;
    height: 150px;
    padding: 30px 35px;
    margin: 20px;
}
.a_Boxarea{
    display: flex;
    justify-content:end;
    text-decoration: none;
    color: white;
    width: 100%;
}
.a_Boxarea:hover{
    letter-spacing: 1px;
}
.h3_Boxarea{
    margin-top: 10px;

}
.left-boxarea{
    width: 100% ;
    display: flex;
 
}
.right-boxarea{
    margin-left: 30px;
    /* width: 50%; */
}
